.contact-form {
    padding: 0;
    display: flex;
    height: 95vh;
    margin: 0;
}
.contact-form .w-left{
    display: flex;
    justify-content: center;
    width: 50%;
}
.awesome  .let-tt{
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray);
}
.awesome .chat-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    line-height: 3.5rem;
}
.awesome .chat-title>*{ 
    font-weight: bold;
    font-size: 3rem;
}

.c-right {
    display: flex;
    justify-content: center;
    position: relative;
    flex: none;
    width: 50%;
    /* align-content: center; */
}

.c-right>form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1.5rem 2rem 0 2rem;
    background: white;
    border-radius: 30px;
    border: 5px solid #e9efef57;
    height: 30rem;
    box-shadow: 0px 20px 24px 3px rgba(117, 117, 117, 0.42);
}
.c-right form .form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color: black;
}

.c-right .user {
    width: 20rem;
    height: 2rem;
    padding: 1.2rem 1rem; 
    color:black;
    border-radius: 8px;
    font-size: 16px;
    background: #9a9a9a24;
    box-shadow: 0px 10px 14px 3px rgba(167, 167, 167, 0.42);
}
.c-right .user::placeholder {
    color: black;
}

textarea{
    height: 12rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

.send-button{
    border-radius: 34px;
    border: none;
    color: white;
    font-size:16px;
    box-shadow: 0px 20px 24px 3px rgba(251,161,20,0.42);
    background:linear-gradient(180deg,#fdc50f,#fb982f 99.36%) !important;
    padding:11px 26px;
    text-align: center;
  }
@media screen and (max-width:1160px){ 

}
@media screen and (max-width:992px){ 
    .contact-form { 
        display: grid;
        height: 95vh;  
        justify-items: center;
    }
    .contact-form .w-left {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media screen and (max-width:768px){ 

}  
 
@media screen and (max-width: 576px) {
    .contact-form {
        display: flex;
        padding: 0;
        flex-direction: column;
        gap: 2rem;
        height: 90vh;
        margin-bottom: 10rem;
        align-items: center;
        position: relative;
    }
    .c-right .user{
        width: 16rem;
    }
    .awesome .chat-title>* {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.5rem;
    } 

}   